
<div class="smashable smash-grid">
    {{#each smashable}}
    <div class="smash-card">
       <h3 class="smash-header">{{name}}</h3>
        <img class="smash-image" src="{{photo}}" alt="smashabe item" >
    </div>
       
    {{/each}}
</div>


